<!DOCTYPE html>
<html>
  <head>
    <title>Mnemonic#9</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <div id = "wrapper">
        <header>
          <h1>Mnemonic#9</h1>
        </header>
      <div id = "multiplication">
          <form action="/submit" method="post">
              <textarea name="message"><%= @number %></textarea>
              <label>X 9</label> 
              <input type="submit" value="Calculate" />
            </p>
          </form>
      </div>

      <div id ="content">
          <% if not @error %>
          <img src= <%= "images/#{@number}.jpg" %>>
          <% end %>
          <% if @error %>
          <img src= <%= "images/animhands.gif" %>>
          <p>Wrong Input, it shouldn't be bigger than 10!</p>
          <% end %>
      </div>
          <div class="clear"></div>
    </div>
  </body>
</html>