<!DOCTYPE html>
<html>
  <head>
    <title>Mnemonic#9</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="images/mnemofav.png">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on("submit", "#number_form", function(event){
          event.preventDefault();
          var number = $(this).find("#message").val();
         
          if(parseInt(number)  <= 10) { 
            $("#finger_image").attr('src', "images/"+ number + '.jpg');

          } else {
            $("#finger_image").attr('src', "images/animnim.gif");

          }
         
        })
      })  
        
    </script>
    </head>
  <body>
      <div class="wrapper">
        <header>
          <h1>Mnemonic#9</h1>
        </header>
      
      <div id ="content">
        <div id="multiplication">
          <form id="number_form" action="/submit" method="post">
              <input type="text" pattern="[0-9]{1,2}" name="message" id="message" placeholder="Type a number between 0 and 10"><%= if @number>0 then @number end %></textarea>
              <label>X 9</label> 
              <input type="submit" value="Calculate" />
          </form>
        <div id="alert">
        <% if @error %>
        <span>You only have 10 fingers!</span>
          <img src= <%= "images/animnim.gif?" + Time.now.to_i.to_s %> > 
          <% else %>
          <img id="finger_image" src= <%= "images/#{@number}.jpg" %>>
          <% end %>
      </div>
     <!-- <div class="clear"></div> -->
    </div>
  </body>
</html>