<!DOCTYPE html>
<html>
  <head>
    <title>Mnemonic#9</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id = "wrapper">
      <header>
        <h1>Mnemonic#9</h1>
      </header>
        <div id ="content">
        <img src="images/0.jpg">
        </div>
          <div class="clear"></div>
        <div id = "multiplication">
        <form action="/submit" method="post">
         <!--  <p> -->
            <textarea name="message">Type a number between 0 and 10</textarea>
            <label>X 9</label> 
          <!-- </p>
          <br>
          <p> -->
            <input type="submit" value="Calculate" />
          </p>
        </form>
        </div>
    </div>
  </body>
</html>