/*----------------------------------------------------------------------------- 
=01 BODY 
-----------------------------------------------------------------------------*/




body {
  background-color: black;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica;
  color: white;
  font-size: 50px;
  line-height: 19px;

}


#wrapper {
  background: (/images/0.jpg) no-repeat;
  width: 960px;
  margin: 0 auto;
  /*margin: 0 auto; centers our container on the page */
}

  
/*----------------------------------------------------------------------------- 
=02 HEADER 
-----------------------------------------------------------------------------*/

  header {
    margin: 5px 10px 5px 120px;
    padding: 30px 200px 5px;
    
  }
  
  h1 {
      font-size: 50px;
      width: 500px;
      height: 2px;
    }

/*---------------------------------------------------------------------------
=03 CONTENT
----------------------------------------------------------------------------*/

#content{
  margin: 0 auto;
}



img {
 size: 25px;
 margin: 5px 0px 0px 295px;
 height: 300px;

}


#multiplication {

  text-align: center;
  /*margin: 10px 5px 5px 267px; */
  padding: 45px 0px 0px 0px;
}



form {
  background: black;
  padding: 10px;
  margin: 8px 5px 10px 5px;
}


form input[type="message"], form textarea {

  width: 200px;
  height: 10px;
  margin: 10px;
  padding: 5px;
  font-size: 10px;
}

form input[type=submit] {

    background: -moz-linear-gradient(center top , #4E4C80 0%, #9A95D8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 100px;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 2px 2px 4px #888892;
    cursor: pointer;
}

form input:hover {
  box-shadow: 1px 1px 5px #888892 inset;
}
form label {
  position: inline-block;
  /*margin: 5px;*/
  /*padding: 3px 5px 2px 5px;*/
  font-size: 20px;

}

#alert {
  text-align: center;
  margin: 0px 10px 50px 273px;
  width: 400px;
  height: 300px;
  display: block;
  position: relative;
  font-size: 30px;
  line-height: 32px;

}



  



/*---------------------------------------------------------------------------
#04 FOOTER
---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
#05 MISC
___________________________________________________________________________*/

.clear {
  clear:both; 
}




 
  



