/*----------------------------------------------------------------------------- 
=01 BODY 
-----------------------------------------------------------------------------*/

body {
  background-color: black;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 50px;
  line-height: 19px;

}


#wrapper {
  background: (/images/1jpg) no-repeat;
  width: 960px;
  margin: 0 auto;
  /*margin: 0 auto; centers our container on the page */
}

  
/*----------------------------------------------------------------------------- 
=02 HEADER 
-----------------------------------------------------------------------------*/

  header {
    padding: 20px 200px 5px;
    text-align: center;
  }
  
  h1 {
      font-size: 50px;
      width: 500px;
      height: 2px;
    }

/*---------------------------------------------------------------------------
=03 CONTENT
----------------------------------------------------------------------------*/

#content{
  margin: 0 auto;
}

img {
 size: 25px;
 display: inline-block;
  margin: 50px 0px 0px 260px;
 height: 300px;


}


#multiplication{
  margin: 2px;
  text-align: center;
 }

form {
  background: black;
  padding: 10px;
  margin-bottom: 10px;
}

/*form label {
  display: block;
  font-weight: bold;
  float: left;
  width: 200px;
  text-align: right;
  margin-right: 10px;
}*/

form input[type="text"], form textarea {
  padding: 5px;
  font-size: 21px;
}
form input[type=submit] {
  padding:15px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; 
}

form p {
  margin-bottom: 5px;
}


.clear {
  clear:both; 
}
 footer {
  text-align: center;
 }
  



